/*img {
  border-radius: 8px;
}*/
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 215px;
  height: 315px;
}

table, th, td, tr {
  border: 1px solid black;
}


/*<img src="paris.jpg" alt="Paris">*/